<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".view.overlay_widget.OverlayService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            android:foregroundServiceType="specialUse"/>

        <activity
            android:name=".view.auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
        </activity>
        <activity
            android:name=".view.auth.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
        </activity>
        <activity
            android:name=".view.chat.ChatActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
        </activity>
        <activity
            android:name=".view.friends.FriendsActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
        </activity>
        <activity
            android:name=".view.friends.FoundUsersActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
        </activity>
        <activity
            android:name=".view.chat.StartChatActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
        </activity>
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.taskraze.myapplication"
                    android:path="/4FHALdQ6KlUgnXnT/57NCDP6V1Y="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".receiver.EventNotificationReceiver"
            android:exported="false"/>

    </application>


</manifest>